<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cycle Times</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/test.css">
</head>

<body>
    <div class="square linkedin">
        <span></span>
        <span></span>
        <span></span>
        <div class="content">
            <h2>
                {{user_times}}
            </h2>
            <p>  <br> Click below for more information on sleep cycles. <br> <br> </p>
            <a href="https://www.sleepfoundation.org/stages-of-sleep" target="_blank">Tell me more!</a>
        </div>
    </div>
<div class = next2>
    <a href = "/index" class="btn"> Return to home page </a>
</div>
</body>

</html>